/* Routes card button element */
.routes-card__btn {
  position: absolute;
  left: 41px;
  bottom: 30px;       
  z-index: 20;
  
  padding: 10px 26px;
  background: linear-gradient(180deg, #4B99B2, #6ADB90);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-decoration: none;
  border-radius: 32px;
}

