/* Routes card description element */
.routes-card__desc {
  position: absolute;
  top: 310px;          
  left: 41px;
  right: 41px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.65;
  color: rgba(255,255,255,0.96);
  text-shadow: 0 1px 4px rgba(0,0,0,0.9);
  max-height: calc(528px - 279px - 129px);
  overflow: hidden;
}

